@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700|Montserrat);
@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'codropsicons';
	src:url('../fonts/codropsicons/codropsicons.eot');
	src:url('../fonts/codropsicons/codropsicons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/codropsicons/codropsicons.woff') format('woff'),
		url('../fonts/codropsicons/codropsicons.ttf') format('truetype'),
		url('../fonts/codropsicons/codropsicons.svg#codropsicons') format('svg');
}

*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }

body {
	background: #f9f9f9;
	color: #62706c;
	font-size: 100%;
	line-height: 1.25;
	padding: 25px 0;
	border-right: 25px solid #fff;
	border-left: 25px solid #fff;
	font-family: 'Lato', Arial, sans-serif;
}
